In [1]:
# pandas~data manipulation
import pandas as pd

In [3]:
#components -series -data frames -panel
# series ~ 1d array(labelled array)
courses = ["b.tech", "m.tech", "m.s"]
names  = ["anu", "swati", "tushar"]
ser = pd.Series(names)# implicit index
print(ser)

0       anu
1     swati
2    tushar
dtype: object

In [4]:
ser = pd.Series(names, index = courses) #explicit index
print(ser)

b.tech       anu
m.tech     swati
m.s       tushar
dtype: object

In [7]:
print(ser.loc['b.tech'])

anu

In [27]:
print(ser.loc[0])

TypeError: cannot do label indexing on <class 'pandas.core.indexes.base.Index'> with these indexers [0] of <class 'int'>

In [9]:
print(ser.iloc[0]) #for implicit notation

anu

In [23]:
print(ser.loc[['b.tech','m.tech']])

b.tech      anu
m.tech    swati
dtype: object

In [24]:
print(ser.loc['b.tech' and 'm.tech'])

swati

In [26]:
print(ser.index)# to print whole list

Index(['b.tech', 'm.tech', 'm.s'], dtype='object')

In [31]:
# arith matic operations on series
names1 = ["a", "b", "c"]
marks = [10, 20,30]
ser1 = pd.Series(marks, index = names1)
ser1

a    10
b    20
c    30
dtype: int64

In [37]:
names2 = ["d", "e", "f"]
marks2 = [40, 50, 60]
ser2 = pd.Series(marks2, index = names2)
ser2

d    40
e    50
f    60
dtype: int64

In [38]:
ser = ser1 + ser2
ser

a   NaN
b   NaN
c   NaN
d   NaN
e   NaN
f   NaN
dtype: float64

In [39]:
names2 = ["a", "b", "c"] # index should be same
marks2 = [40, 50, 60]
ser2 = pd.Series(marks2, index = names2)
ser2

a    40
b    50
c    60
dtype: int64

In [40]:
ser = ser1 + ser2
ser

a    50
b    70
c    90
dtype: int64

In [43]:
ser = ser1 * ser2
ser

a     400
b    1000
c    1800
dtype: int64

In [42]:
ser = ser1 / ser2
ser

a    0.25
b    0.40
c    0.50
dtype: float64

In [49]:
s = (ser1[0]+ser1[1])

15.0

In [55]:
ser1.mean()

20.0

In [56]:
ser = [10, 20, 30, 40, 50]

In [57]:
sq = ser.sqrt(ser[1]:) # squaring

SyntaxError: invalid syntax (<ipython-input-57-03734d5b0f60>, line 1)

In [61]:
# data frames
d = {'series1': pd.Series([10, 20, 30]), 'series2':pd.Series([20, 30, 40])}
df = pd.DataFrame(d)
df

   series1  series2
0       10       20
1       20       30
2       30       40