In [8]:
str = "pupy"
str[0]

'p'

In [9]:
str[0] = "a" #We can't modify string by this method, we've to use replace fxn for this

TypeError: 'str' object does not support item assignment

In [10]:
str.replace("p", "a")

'auay'

In [13]:
str.replace("p", "a", 1)#to replace only one occurance of tht character

'aupy'

In [15]:
str #original string isn't getting modified => string can't be modified

'pupy'

In [16]:
str[0:3]

'pup'

In [1]:
l = [10, 20, 30]
print(l*10)

[10, 20, 30, 10, 20, 30, 10, 20, 30, 10, 20, 30, 10, 20, 30, 10, 20, 30, 10, 20, 30, 10, 20, 30, 10, 20, 30, 10, 20, 30]

In [2]:
 #We can't directly assign values to l, we've to use apppend()
num = input("Enter no ")
num = int(num)
for i in range(0,num):
    l.append(input())

Enter no 1
1

In [3]:
l

[10, 20, 30, '1']

In [16]:
j = ["a","b","c"]
p = ["d","e", "f"]
s = []
s.append(j)
s.append(p)
print(len(s))
print(s)

2
[['a', 'b', 'c'], ['d', 'e', 'f']]

In [20]:
#extend fxn ~ to append lists elementwise
s= []
s.extend(j)
s.extend(p)
print(len(s))
print(s)

6
['a', 'b', 'c', 'd', 'e', 'f']

In [23]:
l = [10, 20]
print(max(l))
print(min(l))

20
10

In [24]:
l.remove(20)
l

[10]

In [27]:
l.clear()
l

[]

In [28]:
t = (10, 20, 30, 40)# we can't  modify tuple
t = t.append(50)

AttributeError: 'tuple' object has no attribute 'append'

In [3]:
str = "anu bansal"
print(tuple(str))

('a', 'n', 'u', ' ', 'b', 'a', 'n', 's', 'a', 'l')

In [26]:
#dictionary ~ we can modify dictionary
d = {'100':'a', '101':'b'}
print(d['101'])
print(d.keys())
print(d.values())
rollno = d.keys()
for r in rollno :
    print("name", d[r])

b
dict_keys(['100', '101'])
dict_values(['a', 'b'])
name a
name b

In [27]:
d[102] = "c"

In [28]:
d

{'100': 'a', '101': 'b', 102: 'c'}

In [29]:
del d[102]

In [30]:
d

{'100': 'a', '101': 'b'}